*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navigationBar{
    background-color:#1B3764;
    color: #fff;
}
.navbar-brand{
    font-size:22px; 
}
.navbar-brand span{
    color: #fff;
    font-weight:700;
    font-family: 'Poppins';
}
.nav-link{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.nav-link:hover{
    background:#FFCA42;
    border-radius: 10px 10px;
    color: #1B3764;
}
#carousal1 img{
    width: 100%;
    height: 90vh;
}

.news{
    background-color: #1B3764;
    color: #fff;

}
.news p{
    margin: 0;
}
.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;
}
.subscribe .container{
    background-color: #FFCA42;
    color: #fff;
}
.subscribe::placeholder{
    color: white;

}
.subscribe input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: #fff;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.subscribe button{
    background: #1B3764;
    color: #fff;
}
.btn2{
    height: 45px;
    width: 100px;
    background: #FFCA42;
    margin-left:5px;
    border: 2px solid white;
    font-weight: 600;
}

/* Dynamic card css*/
.card-container{
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    
    flex-wrap:wrap;
}
.card{
    padding: 1rem;
    box-shadow: 0 0 .4rem .4rem rgb(0,0,0,0.2);
    transition: .4s ease-in;
    }
.card:hover{
    background: rgb(226, 226, 226);
}
.card-heading{
    color: tomato;
    margin-bottom: .5rem;
}
.card-body{
    color:black;
}